# Root directory of percona-xtradb-cluster-operator
PERCONA_ROOT=$HOME/THESIS/percona-xtradb-cluster-operator

# Name of the k3d cluster hosting the DB
DB_CLUSTER=cluster-db

# Name of the Control Center cluster ( ports-mapping must remain within the allowed range )
CLUSTER_CC=cluster27

# RAW manifest URL for openPDC
RAW_PDC_URL=https://raw.githubusercontent.com/daribg99/msc-thesis-grid-orchestration/refs/heads/complete_deploy/deploy/openpdc.yaml