# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Bytecode specific version (es. cpython-312)
*.cpython-*

# Virtual environments
.venv/
venv/

# Runtime artifacts
#runtime_results/
results copy/
# Kubeconfigs generated
deploy_automation/kubeconfigs*
